*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/androidTest/java/sk/filipceko/golfscorecard/ExampleInstrumentedTest.java
app/src/main/res/drawable/golf_logo.png
app/src/test/java/sk/filipceko/golfscorecard/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.jar
